{% load static %}
{% load i18n %}

<section class="mh-about" id="mh-about">
    <div class="container">
        <div class="row section-separator">
            <div class="col-sm-12 col-md-6">
                <div class="mh-about-img shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                    <img src="{% static 'assets/images/ab-img.png' %}" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="mh-about-inner">
                    <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">{% trans 'About Me' %}</h2>
                    <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">{% blocktrans %}Hello, I’m a Saidakbar, web-developer based on Uzbekistan. 
                        I'm junior web developer, student of Najot ta'lim and Mohir.dev{% endblocktrans %}</p>
                    <div class="mh-about-tag wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                        <ul>
                            {% for skill in tech_skills %}
                                <li><span>{{ skill }}</span></li>
                            {% endfor %}
                            
                            
                        </ul>
                    </div>
                    <a href="https://drive.google.com/file/d/1tSznFhL2JfsdIHGHvNou646Xrr8Lf7gB/view?usp=drive_link" class="btn btn-fill wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">{% trans 'Downlaod CV' %} <i class="fa fa-download"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>